.cola-item1{
  background-image: url(./../img/macola/1.png);
}
.cola-item2{
  background-image: url(./../img/macola/2.png);

}
.cola-item3{
  background-image: url(./../img/macola/3.png);

}
.cola-item4{
  background-image: url(./../img/macola/4.png);


}
.cola-item5{
  background-image: url(./../img/macola/5.png);

}
.cola-item6{
  background-image: url(./../img/macola/6.png);

}
.cola-item7{
  background-image: url(./../img/macola/01.png);

}
.cola-item8{
  background-image: url(./../img/macola/02.png);

}
.cola-item9{
  background-image: url(./../img/macola/03.png);

}


.macola-menu, .macola-menus{
  ul{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 16px;
  }
}
.macola-text{
  padding-top: 283px;
  border-image: fill 0 linear-gradient(#0003,#000);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 450px;
}
.macola-bgr {
  padding-left: 30px;
}
.madeira-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  h6{
    color: var(--Cream, #F5F4EE);
font-family: "Satoshi";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.6px;
  }
 span{
  color: var(--Cream, #F5F4EE);
font-family: "Satoshi";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.6px;
 }
}

.macola-bgr{
  h4{
    color: var(--Cream, #F5F4EE);
font-family: Satoshi;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 100%;
letter-spacing: -1.44px;
  }
}
.macola-menus {
  padding-top: 65px;
  margin-bottom: 250px;
}

.passati-logo{
  position: absolute;
  right: 0px;
  bottom:0px;
  img{
    height: 460px;
    width: 460px;
  }
  
}
.Viaggi-passati{
  position: relative;
}