.parti-item{
   h4, h5{
        color: var(--Brown, #3E1A09);
text-align: center;
font-family: "Satoshi";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.6px;
    }
    img{
        height: 29px;
        width: 29px;
    }
}
.parti-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.parti-section{
    padding: 200px 450px;
}
.parti-head-text{
    margin-bottom: 65px;
    h3{
        color: var(--Brown, #3E1A09);
text-align: center;
font-family: "Satoshi";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
letter-spacing: -1.44px;
    }
}